
<!doctype html>
<html lang="en">
	<head>
		<title>Stage 8-9</title>		
    <%- include partials/meta.ejs %>
  </head>
	
	<body>
    <div ng-app="MyApp">
      <%- include partials/header.ejs %>

			<div class="container">
				<div ng-controller="AppCtrl as ctrl" ng-cloak>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Stage 8-9 &mdash; Drop Ship Purchase Orders & Labels</h4>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Order Date</th>
                      <th>Salesperson</th>
                      <th>Order</th>
                      <th>SKU</th>
                      <th>Quant Needed</th>
                      <th>Total Est. Cost</th>
                      <th>Supplier</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach(order => { %>
                      <tr>
                        <td><%=order.odr_date.toString().substring(4,15) %></td>
                        <td><%=order.sales_id %></td>
                        <td><a href="/orders/<%=order.orderno %>"><%=order.orderno %></a></td>
                        <td><a href="/items/<%=order.item %>"><%=order.item %></a></td>
                        <td><%=order.quantb %></td>
                        <td>$<%=order.totalEstCost.toFixed(2) %></td>
                        <td><%=order.ship_from %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
		
		<%- include partials/footer.ejs %>
    
    <%- include partials/javascripts.ejs %>
		  
		<script src="/js/app.js"></script>
	</body>
</html>