
<!doctype html>
<html lang="en">
	<head>
		<title>Backorder Report</title>		
		<%- include partials/meta.ejs %>
	</head>
	
	<body>
    <div ng-app="MyApp">
      <%- include partials/header.ejs %>
      
            <div class="container" ng-controller="AppCtrl as ctrl" ng-cloak="">
                <div class="row">
                    <div class="col-12">
                        <h2>Order Report for <%=SKU %></h2>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>CM Orders for <%=SKU %></h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Order Date</th>
                                        <th>Units on CM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% CMorders.forEach((order, index) => { %>
                                        <tr>
                                            <td><a href="/orders/<%=order.orderno %>"><%=order.orderno %></a></td>
                                            <td><%=order.odr_date.toString().substring(4,16) %></td>
                                            <td><%=order.quantf %></td>
                                        </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>BO Orders for <%=SKU %></h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Order Date</th>
                                        <th>Units on BO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% BOorders.forEach((order, index) => { %>
                                        <tr>
                                            <td><a href="/orders/<%=order.orderno %>"><%=order.orderno %></a></td>
                                            <td><%=order.odr_date.toString().substring(4,16) %></td>
                                            <td><%=order.quantb %></td>
                                        </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Open POs for <%=SKU %></h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Purchase Order</th>
                                        <th>PO Date</th>
                                        <th>Units Ordered</th>
                                        <th>Units Delivered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pos.forEach((po, index) => { %>
                                        <tr>
                                            <td><a href="/pos/<%=po.ponumber %>"><%=po.ponumber %></a></td>
                                            <td><%=po.odr_date.toString().substring(4,16) %></td>
                                            <td><%=po.quantity %></td>
                                            <td><%=po.delivered %></td>
                                        </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                    
				</div>
			</div>
		</div>
		
		<%- include partials/footer.ejs %>
    
    <%- include partials/javascripts.ejs %>
		  
		<script>
		var app = angular.module('MyApp', ['ngMaterial', 'ngMessages']);
		app.controller('AppCtrl', function() {
			this.bottomDollar = 2;
			this.bottomPercent = 10;
		  this.startDate = new Date();
		  this.endDate = new Date();
		  this.startDate.setDate(this.startDate.getDate() - 1);
		  this.clKeys = ['AMAZON','AMZPRIME','AMZVC','BID','EBAY','EBAYCPR','EMAIL','FAI','GRANT','GROUPON','GS','PAYPAL','PHONE','PO','TRN','WAL','WEBSALE'];
		  this.selectedKeys = ['AMAZON','AMZPRIME','AMZVC','BID','EBAY','EBAYCPR','EMAIL','FAI','GRANT','GROUPON','GS','PAYPAL','PHONE','PO','TRN','WAL','WEBSALE'];

		  this.toggleSelection = key => {
			  const i = this.selectedKeys.indexOf(key);
			  if(i > -1) {
				  this.selectedKeys.splice(i, 1);
			  } else {
				  this.selectedKeys.push(key);
			  }
		  }
		});
		</script>
	</body>
</html>