
<!doctype html>
<html lang="en">
	<head>
		<title>Order Profit</title>		
    <%- include partials/meta.ejs %>
  </head>
	
	<body>
    <div ng-app="MyApp">
      <%- include partials/header.ejs %>

			<div class="container">
				<div ng-controller="AppCtrl as ctrl" ng-cloak>
          <div class="row local-nav">
            <div class="col-2">
              <a class="btn btn-outline-primary btn-large mx-4" href="/reports/shippedOrder">Make a new report</a>
            </div>
            <div class="col-10 text-right">
              <%- include partials/orderkeys.ejs %>
            </div> 
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h2>Shipped Order Profitability from {{'<%=parameters.startDate %>' | dateFromSQL}} to {{'<%=parameters.endDate %>' | dateFromSQL}}</h2>
                  <h3><%=orders.length %> Results</h3>
                </div>
                
                <table class="table">
                  <thead>
                    <tr>
                      <th>Order</th>
                      <th>Order Date</th>
                      <th>CL Key</th>
                      <th>Status</th>
                      <th>Merch Cost</th>
                      <th>Shipping</th>
                      <th>Charged</th>
                      <th>Net<br>After Fees</th>
                      <th>Margin</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach((order,index) =>  { %>
                      <tr class="tp-<%=order.tpshiptype%>">
                        <td><a href="/orders/<%=order.orderno %>"><%=order.orderno %></a></td>
                        <td><%=order.odr_date %></td>
                        <td><%=order.cl_key %></td>
                        <td><span class="label <%=order.order_st2 %>"><%=order.order_st2 %></span></td>
                        <td>$<%=order.cost %></td>
                        <td>$<%=order.shipping %></td> 
                        <td>$<%=order.totalAfterTax %></td>
                        <td><span class="<%=order.net < 2 ? 'text-danger' : order.net < 3 ? 'text-warning' : ''%>">$<%=order.net %></span></td>
                        <td><span class="<%=order.margin < 3 ? 'text-danger' : order.margin < 5 ? 'text-warning' : ''%>"><%=order.margin %>%</span></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
						</div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <p>Total Orders: <%=orders.length %></p>
                  <p>Total Gross: $<%=stats.totalGross.toFixed(2) %></p>
                  <p>Total Net: $<%=stats.totalNet.toFixed(2) %></p>
                  <p>Total Loss: $<%=stats.totalLoss.toFixed(2) %></p>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
		
		<%- include partials/footer.ejs %>
    
    <%- include partials/javascripts.ejs %>
		  
		<script src="/js/app.js"></script>
	</body>
</html>